<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.edit.itemProviderAdapterFactories">
      <!-- @generated OSLC4EMFGenerator -->
      <factory
            uri="http://org.eclipse.lyo/oslc4j/emf"
            class="org.eclipse.lyo.oslc4j.adaptormodel.emf.oslc4emfgenerator.provider.OSLC4EMFgeneratorItemProviderAdapterFactory"
            supportedTypes=
              "org.eclipse.emf.edit.provider.IEditingDomainItemProvider
               org.eclipse.emf.edit.provider.IStructuredItemContentProvider
               org.eclipse.emf.edit.provider.ITreeItemContentProvider
               org.eclipse.emf.edit.provider.IItemLabelProvider
               org.eclipse.emf.edit.provider.IItemPropertySource"/>
   </extension>

   <extension point="org.eclipse.emf.edit.childCreationExtenders">
      <!-- @generated OSLC4EMFGenerator -->
      <extender
            uri="http://org.eclipse.lyo/oslc4j/adaptorInterfaceGenerator"
            class="org.eclipse.lyo.oslc4j.adaptormodel.emf.oslc4emfgenerator.provider.OSLC4EMFgeneratorItemProviderAdapterFactory$AdaptorInterfaceGeneratorChildCreationExtender"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.handlers.InitAdaptorCoreGenerator"
            commandId="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.InitACGCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.InitACGCommand"
               id="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.menus.InitACGMenu"
               style="push"
               tooltip="%command.tooltip">
            <visibleWhen
                  checkEnabled="false">
                      <with variable="selection">
				        <count value="1"/>
				        <iterate ifEmpty="false">
		                  <adapt type="org.eclipse.emf.ecore.EObject">
				            <instanceof value="org.eclipse.lyo.oslc4j.adaptormodel.emf.oslc4emfgenerator.OSLC4EMFCoreGenerator"/>
            			  </adapt>
				        </iterate>
				    </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.category"
            name="%category.name">
      </category>
      <command
            categoryId="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.category"
            id="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.InitACGCommand"
            name="%command.name">
      </command>
   </extension>
   
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.handlers.InitAdaptorExposerGenerator"
            commandId="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.InitAEGCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.InitAEGCommand"
               id="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.menus.InitAEGMenu"
               style="push"
               tooltip="%command.tooltip.0">
            <visibleWhen
                  checkEnabled="false">
                      <with variable="selection">
				        <count value="1"/>
				        <iterate ifEmpty="false">
		                  <adapt type="org.eclipse.emf.ecore.EObject">
				            <instanceof value="org.eclipse.lyo.oslc4j.adaptormodel.emf.oslc4emfgenerator.OSLC4EMFExposerGenerator"/>
            			  </adapt>
				        </iterate>
				    </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.category"
            name="%category.name.0">
      </category>
      <command
            categoryId="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.category"
            id="org.eclipse.lyo.oslc4j.adaptormodel.emf.edit.commands.InitAEGCommand"
            name="%command.name.0">
      </command>
   </extension>
   
</plugin>
