<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated adaptorInterfaceGenerator -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="org.eclipse.lyo.oslc4j.adaptormodel.adaptorinterfacegenerator.presentation.AdaptorInterfaceGeneratorModelWizardID"
            name="%_UI_AdaptorInterfaceGeneratorModelWizard_label"
            class="org.eclipse.lyo.oslc4j.adaptormodel.adaptorinterfacegenerator.presentation.AdaptorInterfaceGeneratorModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/AdaptorInterfaceGeneratorModelFile.gif">
         <description>%_UI_AdaptorInterfaceGeneratorModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated adaptorInterfaceGenerator -->
      <editor
            id="org.eclipse.lyo.oslc4j.adaptormodel.adaptorinterfacegenerator.presentation.AdaptorInterfaceGeneratorEditorID"
            name="%_UI_AdaptorInterfaceGeneratorEditor_label"
            icon="icons/full/obj16/AdaptorInterfaceGeneratorModelFile.gif"
            extensions="aigen"
            class="org.eclipse.lyo.oslc4j.adaptormodel.adaptorinterfacegenerator.presentation.AdaptorInterfaceGeneratorEditor"
            contributorClass="org.eclipse.lyo.oslc4j.adaptormodel.adaptorinterfacegenerator.presentation.AdaptorInterfaceGeneratorActionBarContributor">
      </editor>
   </extension>

</plugin>
